[graph]
targets = [
    { triple = "aarch64-unknown-linux-musl" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "aarch64-apple-darwin" },
    { triple = "x86_64-apple-darwin" },
    { triple = "aarch64-pc-windows-msvc" },
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "wasm32-unknown-unknown" },
]

[advisories]
version = 2
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
ignore = []

[licenses]
version = 2
allow = ["Apache-2.0", "BSL-1.0", "MIT", "ISC", "Unicode-3.0"]

[bans]
multiple-versions = "deny"
skip = [
    { name = "unicode-width", version = "0.2.2" },
]
skip-tree = [
    { name = "windows-sys", version = "0.59.0" },
    { name = "windows-sys", version = "0.60.2" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
