* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

main {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: auto;
}

.editor-container,
.result {
  flex: 1 0 50%;
  min-width: 0;
  height: 100vh;
}

.result {
  background-color: #ffe;
  margin: 0;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.result > section {
  flex: 1;
}

.editor-container {
  display: flex;
  flex-direction: column;
}

.editor-container.loading {
  background-color: #ccc;
}

.selector {
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #132;
  color: #fff;
}

.selector button {
  border: none;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #354;
  color: #eee;
  margin: 0 0.5rem;
}

.editor {
  flex: 1;
}
