on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: "true"

name: Compile

jobs:
  build-macos:
    name: Build for macOS ${{ matrix.arch }}
    runs-on: ubuntu-24.04
    env:
      SDKROOT: /opt/MacOSX11.3.sdk

    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64
          - x86_64

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        run: |
          rustup toolchain install stable
          rustup default stable
          rustup target add ${{ matrix.arch }}-apple-darwin

      - name: Setup Rust build cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.arch }}-macos

      - name: Install zig
        uses: goto-bus-stop/setup-zig@v2

      - name: Install cargo-zigbuild
        run: pipx install cargo-zigbuild

      - name: Download the macOS SDK
        run: curl -L "https://github.com/phracker/MacOSX-SDKs/releases/download/11.3/MacOSX11.3.sdk.tar.xz" | tar -J -x -C /opt

      - name: Build the binary
        run: cargo zigbuild --release --target=${{ matrix.arch }}-apple-darwin -p z33-cli

      - name: Create the archive
        run: tar -czvf z33-cli-${{ matrix.arch }}-macos.tar.gz --owner=0 --group=0 -C target/${{ matrix.arch }}-apple-darwin/release/ z33-cli

      - name: Upload the binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.arch }}-macos
          path: z33-cli-${{ matrix.arch }}-macos.tar.gz

  build-linux:
    name: Build for Linux ${{ matrix.arch }}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64
          - x86_64

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        run: |
          rustup toolchain install stable
          rustup default stable
          rustup target add ${{ matrix.arch }}-unknown-linux-musl

      - name: Setup Rust build cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.arch }}-linux

      - name: Install zig
        uses: goto-bus-stop/setup-zig@v2

      - name: Install cargo-zigbuild
        run: pipx install cargo-zigbuild

      - name: Build the binary
        run: cargo zigbuild --release --target=${{ matrix.arch }}-unknown-linux-musl -p z33-cli

      - name: Create the archive
        run: tar -czvf z33-cli-${{ matrix.arch }}-linux.tar.gz --owner=0 --group=0 -C target/${{ matrix.arch }}-unknown-linux-musl/release/ z33-cli

      - name: Upload the binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.arch }}-linux
          path: z33-cli-${{ matrix.arch }}-linux.tar.gz

  build-windows:
    name: Build for Windows ${{ matrix.arch }}
    runs-on: ubuntu-24.04
    env:
      XWIN_ARCH: ${{ matrix.arch }}
      XWIN_VARIANT: onecore
      XWIN_CACHE_DIR: ./cargo-xwin

    strategy:
      fail-fast: false
      matrix:
        arch:
          - x86_64
          - aarch64

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        run: |
          rustup toolchain install stable
          rustup default stable
          rustup target add ${{ matrix.arch }}-pc-windows-msvc

      - name: Setup Rust build cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.arch }}-pc-windows-msvc

      - name: Setup cargo-xwin cache
        uses: actions/cache@v5
        with:
          path: cargo-xwin
          key: cargo-xwin-${{ matrix.arch }}

      - name: Install cargo-xwin
        run: pipx install cargo-xwin

      - name: Build the binary
        run: cargo xwin build --release --target=${{ matrix.arch }}-pc-windows-msvc -p z33-cli

      - name: Move the binary
        run: mv target/${{ matrix.arch }}-pc-windows-msvc/release/z33-cli.exe ./z33-cli-${{ matrix.arch }}-windows.exe

      - name: Upload the binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.arch }}-windows
          path: z33-cli-${{ matrix.arch }}-windows.exe

  publish:
    name: Publish a release
    needs: [build-linux, build-macos, build-windows]
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Download the artifacts from the previous job
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Move the release assets
        run: |
          mv ./artifacts/{x86_64,aarch64}-{linux,macos,windows}/* ./

      - name: Prepare a release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            z33-cli-x86_64-linux.tar.gz
            z33-cli-aarch64-linux.tar.gz
            z33-cli-x86_64-macos.tar.gz
            z33-cli-aarch64-macos.tar.gz
            z33-cli-x86_64-windows.exe
            z33-cli-aarch64-windows.exe
          draft: true
