[package]
name = "z33-web"
version = "0.5.3"
edition = "2021"
license = "MIT"

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Oz", "--enable-mutable-globals"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
z33-emulator = { path = "../emulator" }
wasm-bindgen = "0.2.88"
serde = { version = "1.0.191", features = ["derive"] }
serde-wasm-bindgen = "0.6.1"
